@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* 
body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

#login-form .login-form-forgot {
	float: right;
}

#login-form .ant-col-rtl .login-form-forgot {
	float: left;
}

#login-form .login-form-button {
	width: 100%;
}

#login-form {
	max-height: 70vh;
	overflow-y: scroll;
}
#login-form::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@600&family=Kaushan+Script&family=Open+Sans&family=Poppins&family=Roboto:wght@300&family=Tangerine:wght@700&family=Yesteryear&display=swap");



/* Landing Page CSS */

.landing-page {
	background-image: url("https://wldfire-new.vercel.app/static/media/homepage.72bd9cd5a522696918a6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 90%;
	width: 100%;
	flex-direction: column;
	color: white;
	text-align: center;
	height: 100vh;
	display: flex;
}

.landing-page-logos {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.landing-page-logos img {
	height: 100px;
	padding: 12.5px;
}

.landing-page-content {
	height: auto;
	width: 60%;
	margin: auto;
	transform: translateY(-50px);
}

.landing-page-content h3 {
	text-align: center;
}

.landing-page-content p {
	text-align: center;
}

.landing-page-content h1 {
	text-align: center;
}

.content-heading {
	font-size: 2rem;
	font-weight: bold;
}

.content-span {
	font-size: 1rem;
}

.content-name {
	font-family: "Kaushan Script", cursive;
	font-size: 10rem;
	margin: 2rem;
	margin-bottom: 0rem;
	color: #fff2f2;
}

@media screen and (max-width: 900px) {
	.content-name {
		font-size: 7rem;
		margin-bottom: 10rem;
	}
}

@media screen and (max-width: 800px) {
	.landing-page-content {
		width: 70%;
	}
}

@media screen and (max-width: 700px) {
	.content-name {
		font-size: 4.5rem;
	}

	.content-heading {
		font-size: 1.4rem;
	}

	.content-name {
		margin-bottom: 15rem;
	}
}

@media screen and (max-width: 500px) {
	.content-name {
		font-size: 3.8rem;
		margin: 1rem;
		margin-bottom: 20rem;
	}

	.content-heading {
		font-size: 1.1rem;
	}

	.landing-page-content {
		width: 90%;
		padding-top: 3rem;
		margin-bottom: 3rem;
	}
}

@media screen and (max-width: 400px) {
	.content-name {
		font-size: 3.3rem;
		margin: 0.5rem;
		margin-bottom: 15rem;
	}
}

.content-logo {
	width: 40%;
}

.landing-page-content p {
	padding-left: 2rem;
	font-size: 1.5rem;
	position: relative;
	bottom: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 550;
}

.content-img {
	width: 100%;

	margin: 3rem auto;
}

.content-img:hover {
	filter: drop-shadow(0px 0px 6px #cb8351);
}
